* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
}

/* title heading  */

.global-content {
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.title-head {
  background-color: aquamarine;
  line-height: 40px;
}

/* nav-bar  */

.blog-name {
  display: flex;
  justify-content: space-between;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.menu ul li {
  cursor: pointer;
}

.nav-bar {
  background: rgb(151, 164, 125);
  line-height: 43px;
}

/* hero section  */
.hero {
  background-image: url(img/img1.jpg);
  background-size: cover;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background-color: rgb(172, 190, 36, 0.5);
  border-radius: 10px;
  text-align: center;
  width: 250px;
  font-weight: bolder;
}
